@import 'variables';

.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.header__poster {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
}

.poster__text {
    width: 100%;
    position: absolute;
    top: 10%;
    transition: all 200ms ease-in-out;

    .title {
        font-size: 4rem;
    }
}

.poster__img {
    overflow: hidden;
    transform: translateY(35%);
    margin: 0 90px;
    transition: all 400ms ease-in-out;
}

@media (min-width: 600px) and (max-height: 650px) {

    .poster__text {
        transform: translateX(-20%);
    }

    .poster__img {
        align-self: flex-end;
    }
}



@media (max-width: 796px) {
    .poster__img {
        margin: 0;
    }
}

@media (max-width: 576px) {
    .poster__text {
        transform: translateY(50%);
    }
}

@media (max-width: 400px) {
    .poster__text {
        .title {
            font-size: 3rem;
        }
    }
}

//navigation bar

.header__nav {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav__menu {
    margin: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    list-style: none;
}

.menu__links {
    padding: 5px;
    margin: 5px;
    font-family: 'Poppins-Medium';
    position: relative;
    overflow: hidden;
    transition: 500ms;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 100%;
        width: 50%;
        height: 2px;
        background-color: $black-clr;
        transition: 700ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &:hover::before {
        right: 0;
    }
}

.nav__order-block {
    flex: 1;
    justify-content: flex-end;
}

.nav__burger-menu {
    display: none;

    div {
        background-color: $black-clr;
        border-radius: 10px;
        margin: 10px;
        width: 35px;
        height: 3px;
    }
}

@media (max-width: 1200px) {

    .header__nav {
        justify-content: space-between;
    }

    .nav__order-block {
        display: none;
    }
    
}

@media (max-width: 796px) {
    .nav__burger-menu {
        display: block;
        z-index: 2;
    }

    .nav__menu {
        background-color: #fff;
        box-shadow: 10px 10px 20px 10px rgba($black-clr, $alpha: 0.6);
        height: 100vh;
        width: 50%;
        flex-direction: column;
        justify-content: space-evenly;
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: transform 200ms ease-in-out;

        &--active {
            transform: translateX(0);
        }
    }
}

//navigation bar

